{%extends 'layout.html'%}
{%block content%}
<head>
    <title>Account - Idea Guy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
</head>
<body>
    <main>
        <div class="account-container">
            <section class="content">
                <h2>My Projects</h2>
                <ul class="project-list">
                    {% if length == 0 %}
                        <p><strong>You have not created any projects yet... click create Idea to add one</strong></p>
                    {% else %}
                        {% for project in my_projects %}
                        <li>
                            <h3>{{ project.title }}</h3>
                            <p><strong>Category:</strong> {{ project.category }}</p>
                            <p><strong>Difficulty Level:</strong> {{ project.difficulty_level }}</p>    
                            <div class="project_view">
                                {{project.description|safe}}
                            </div>
                            <div class="project-actions">
                                <a href="#" class="btn btn-edit">Edit</a>
                                <form action="#" method="POST" class="inline-form">
                                    <button type="submit" class="btn btn-delete">Delete</button>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </section>
            <aside class="sidebar">
                <ul>
                    <li><a href="{{ url_for('create_idea') }}">Create Idea</a></li>
                    <li><a href="{{ url_for('create_category') }}">Create Category</a></li>
                    <li><a href="{{ url_for('user_projects') }}" class="active">My Projects</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </aside>
        </div>   
    </main>
</body>
{%endblock%}