{% extends "layout.html" %}
{% block title %}Browse Projects{% endblock %}
{% block content %}
<head>
    <title>Browse Ideas- Idea Guy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_ideas.css') }}">
</head>
<main>
    <section class="search-container">
        <h1>{{ title }}</h1>
        <form method="POST" action="{{ url_for('all_ideas') }}">
            <div class="search-filters">
                {{ form.hidden_tag() }}
                {{ form.search_bar(class="form-control", id="search-bar", placeholder="Search projects by title...") }}
                {{ form.category_filter(class="form-control", id="category-filter") }}
                {{ form.difficulty_filter(class="form-control", id="difficulty-filter") }}
                {{ form.submit(class="btn", id="search-button") }}
            </div>
        </form>
    </section>
    <section class="projects-container">
        {% for project in projects %}
        <article class="project-card">
            <h2>{{ project.title }}</h2>
            <p><strong>Category:</strong> {{ project.category }}</p>
            <p><strong>Difficulty Level:</strong> {{ project.difficulty_level }}</p>
            <
            <!-- <div class="project-description-container">
                <p class="project-description">{{ project.description |safe }}</p>
            </div> -->
        </article>
        {% endfor %}
    </section>
    <section class="pagination">
        
    </section>
</main>
{% endblock %}