{%extends  'layout.html'%}
{%block content%}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/categories.css')}}">
</head>
<section class="form-container">
    <h2>Create a New Category</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.category_name.label}}
            {{ form.category_name(class="form-control", placeholder="type category i.e backend, frontend ...") }}
        </div>
        <button type="submit" class="btn">
            {{ form.submit.label }}
        </button>
    </form>
</section>
{%endblock%}
