{%extends 'layout.html'%}
{%block content%}
<head>
    <title>Update or edit Idea - Idea Guy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/project.css')}}">
</head>
<section class="form-container">
    <h2>Update or Edit Idea</h2>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.title.label}}
            {{form.title}}
            {% if form.title.errors %}
                <ul>
                    {% for error in form.title.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{form.category.label}}
            {{form.category}}
            {% if form.category.errors %}
                <ul>
                    {% for error in form.category.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{form.difficulty_level.label}}
            {{form.difficulty_level}}
            {% if form.difficulty_level.errors %}
                <ul>
                    {% for error in form.difficulty_level.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            
            {{form.description.label}}
            {{form.description}}
            {% if form.description.errors %}
                <ul>
                    {% for error in form.description.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn">
            {{form.submit.label}}
        </button>
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name='description')}}
</section>
{%endblock%}