main {
    padding: 20px;
}

.search-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.search-container h1 {
    margin-bottom: 20px;
    color: #2C3E50;
}

.search-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.search-filters input,
.search-filters select {
    padding: 10px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    font-size: 1em;
}

#search-button {
    padding: 10px 20px;
    background-color: #18BC9C;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #16A085;
}

.project-description-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top: 5px solid #18BC9C;
}

.projects-container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.project-card {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-card h2 {
    font-size: 1.5em;
    color: #2C3E50;
    margin-bottom: 10px;
}

.project-card p {
    margin: 5px 0;
    color: black;
}

.project-description {
    color: #666;
    line-height: 1.6;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
}

.project-card-link:hover .project-card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 3px solid red;
    transition: 1s;
}


.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a,
.pagination span {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #2C3E50;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #18BC9C;
    color: #FFFFFF;
}

.pagination .current {
    background-color: #18BC9C;
    color: #FFFFFF;
    cursor: default;
}

.pagination .ellipsis {
    cursor: default;
}
