body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F4F4F4;
    color: #333;
}

header {
    background-color: #2C3E50;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
    color: #ECF0F1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #18BC9C;
}

main {
    padding: 20px;
}

.ideas-container {
    max-width: 1200px;
    margin: 0 auto;
}

.idea {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.idea-title {
    font-size: 1.5em;
    color: #2C3E50;
}

.idea-meta {
    margin: 10px 0;
    color: #888;
}

.idea-description p {
    margin: 0;
    line-height: 1.6;
    border-top: 1px solid #191919;
    color: black;
}
/* when ckeditor is not active*/
.idea-description  {
    margin: 0;
    line-height: 1.6;
    border-top: 1px solid #191919;
    color: black;
}


.refresh-button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-refresh {
    background-color: #191919;
    color: #ECF0F1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-refresh:hover {
    background-color: #2980B9;
}
